version: '3.8'
services:
  app:
    build: .
    ports:
      - "8080:8080"
    restart: always
    depends_on:
      - db

  db:
    image: postgres:15
    environment:
      POSTGRES_USER: ${SPRING_DATASOURCE_USERNAME}
      POSTGRES_PASSWORD: ${SPRING_DATASOURCE_PASSWORD}
      POSTGRES_DB: priceai
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data

volumes:
  db_data: